@import 'https://fonts.googleapis.com/css?family=Overlock:400,400i,700|Oleo+Script';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root{
    --app-bg-color: #dadbdd57;
    --header-bg-color: #0b121b;
    --menu-text-color: #e4e4e4;
    --menu-underlined-color: #b3c9e1;
    --pulse-color: #b3c9e1;
    --heart-color: #d3bbbbc4;
    --black-text-1: #0b121b;
    --border-color: #7177901b;
    --fts-color: #802e2e;
    --pred-btn-color: #483a3a;;
    --clear-btn-color: #802e2e;
    --radio-checked: rgba(101, 83, 83, 0.769);
    --radio-size: 20px;
    --table-head-bg-color: var(--header-bg-color);
    --table-row-bg-color: #f0f0e1;
    --table-row-hover-bg-color: rgba(101, 83, 83, 0.769);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,html {
    height: 100vh;
    font-size: calc(15px + 0.390625vw);
}

.app {
    position: relative;
    z-index: 1;
    height: calc(100vh - calc(100vh / 100));
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.app-wrapper{
    width: 100%;
    height: calc(100vh - calc(100vh / 25));
    overflow: hidden;
    margin: 1%;
    display: flex;

    background-color: var(--app-bg-color);
    border-radius: 15px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    display: grid;
    grid-template-columns: 13% 87%;
}

.header{
    padding-top: 10px;
    background-color: var(--header-bg-color);
    font-family: 'Overlock', sans-serif;
}

.logo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.logo svg{
    object-fit: contain;
}

.logo svg #pulse{
    stroke: var(--pulse-color);
    stroke-width: 0.8; 
    stroke-linecap: round;
    animation: dashArray 4s ease-in-out infinite;
}

.logo svg #heart{
    fill: var(--heart-color);
}

@keyframes dashArray {
    0% {
        stroke-dasharray: 0, 1, 359, 0;
    }
    50% {
        stroke-dasharray: 0, 359, 1, 0;
    }
    100% {
        stroke-dasharray: 359, 1, 0, 0;
    }
}

.nav{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
}

.nav-item {
    position: relative;
}

.nav-item a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: var(--menu-text-color);
    font-size: 1.4em;
    position: relative;
    padding: 5px 5px;
    text-decoration: none;
    background-color: transparent;
    transition: all 600ms ease-in-out;
}

.nav-item svg{
    width: 30px;
    height: 30px;
    margin: 15px;
    fill: var(--heart-color);
    filter: drop-shadow(10px 8px 5px rgba(186, 182, 182, 0.427));
}

.nav-item a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: var(--pulse-color);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: width 600ms ease-in-out;
}

.nav-item a.active::before {
    width: 10px;
}

.nav-item a:hover {
    color: var(--menu-underlined-color);
}

.slide-enter {
    transform: translateY(500%);
    opacity: 0;
}

.slide-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.slide-exit {
    transform: translateY(0);
    opacity: 1;
}

.slide-exit-active {
    transform: translateX(-500%);
    opacity: 0;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}


.app-content{
    width: 100%;
    height: calc(100vh - calc(100vh / 35));
    overflow-y: auto;
    padding:20px;
    padding-top: 50px;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #0b121b;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #17458148;
    border-radius: 10px;
}

.welcome-msg{
    padding: 20px;
    width: 100%;
    margin-bottom: 30px;
}

.welcome-msg h1{
    font-weight: lighter;
    color: #526375;
    text-align: center;
    font-family: 'Overlock', sans-serif;
}

#prediction-content-wrapper, .archive-content-container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    width: 100%;
    background-color: #d6d9dd0d;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#prediction-content-wrapper .intro-msg{
    margin-bottom: 30px;
}

#prediction-content-wrapper .intro-msg p{
    color: var(--black-text-1);
    text-align: center;
}

#predictionForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    padding: 20px; 
    margin: auto; 
}


.form-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20px;
    padding: 20px;
}

.form-section p{
    color: var(--black-text-1);
    text-align: center;
    padding: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-weight: bold;
    color: var(--fts-color);
    margin-top: 10px;
}

.input-group input[type="range"] {
    width: 100%;
    min-width: 300px;
    margin: 10px 0;
    -webkit-appearance: none;
    appearance: none;
    background: #dddddd55;
    box-shadow: inset 0 0 5px rgba(6, 6, 6, 0.429);
    height: 8px;
    border-radius: 5px;
    outline: none;
    transition: background 0.3s ease-in-out;
}

.input-group input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--fts-color);
    box-shadow: inset 0 5px 5px rgba(6, 6, 6, 0.557);
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.input-group input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--fts-color);
    box-shadow: inset 0 5px 5px rgba(6, 6, 6, 0.557);
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.input-group input[type="range"]:hover {
    background: #ccc;
}

.input-group input[type="range"]::-webkit-slider-thumb:hover {
    background: #2b3950;
}

.input-group input[type="range"]::-moz-range-thumb:hover {
    background: #2b3950;
}





























/* Inspired by https://uiverse.io/Pradeepsaranbishnoi/black-husky-57 */
.form-group{
    color: var(--black-text-1);
    width: 150px;
    height: 140px;
    border-radius: 10px;
    position: relative;
    padding: 30px 20px;
    display: grid;
    grid-template-columns: auto 20px;
    align-items: center;
}
  
#sexGroup{
    height: 150px;
    width: 150px;
}

#chestPainGroup{
    height: 200px;
    width: 250px;
}

#fastingBSGroup{
    height: 150px;
    width: 150px;
}

#ecgGroup{
    height: 200px;
    width: 350px;
}

#anginaGroup{
    height: 150px;
    width: 150px;
}

#slopeGroup{
    height: 200px;
    width: 250px;
}

.form-group label {
    cursor: pointer;
}
  
.form-group input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: 20px;
    width: 20px;
    outline: none;
    margin: 0;
    cursor: pointer;
    border: 2px solid var(--black-text-1);
    background: transparent;
    border-radius: 50%;
    display: grid;
    justify-self: end;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    transition: border 0.5s ease;
}
  
.form-group input[type="radio"]::before,
.form-group input[type="radio"]::after {
    content: "";
    display: flex;
    justify-self: center;
    border-radius: 50%;
}
  
.form-group input[type="radio"]::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    opacity: 1;
    transition: opacity 0s linear 0.5s;
}
  
.form-group input[type="radio"]::after {
    position: relative;
    width: 50%;
    height: 50%;
    background: var(--fts-color);
    top: 100%;
    transition: top 0.5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
}
  
.form-group input[type="radio"]:checked {
    border-color: var(--fts-color);
}
  
.form-group input[type="radio"]:checked::after {
    top: 0%;
    animation: animateSel 0.3s ease-out 0.17s;
}
  
.form-group input[type="radio"]:checked::before {
    opacity: 0;
}
  
.form-group input[type="radio"]:not(:checked)::before {
    opacity: 1;
}
  
@keyframes animateSel {
    0% {
      transform: scale(1, 1);
    }
  
    28% {
      transform: scale(1.15, 0.85);
    }
  
    50% {
      transform: scale(0.9, 1.1);
    }
  
    100% {
      transform: scale(1, 1);
    }
}
  


.predictionArea{
    grid-column: span 2;
    border-radius: 20px;
    width: 100%;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.pred-btns-area{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}





.pred-area-btn {
    padding: 15px 30px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out; 
    z-index: 1;
    font-family: inherit;
    cursor: pointer;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 20px;
}

#predictButton{
    border: 2px solid var(--pred-btn-color);
    color: var(--pred-btn-color);
}

#clearButton{
    border: 2px solid var(--clear-btn-color);
    color: var(--clear-btn-color);
    display: inline;
}

.pred-area-btn svg{
    width: 30px;
    height: 30px;
    fill: var(--pred-btn-color);
    filter: drop-shadow(10px 8px 5px rgba(50, 48, 48, 0.427));
    transition: all 0.3s ease-in-out;
}

.pred-area-btn::before {
    content: '';
    width: 0;
    height: 800%;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

#predictButton::before {
    background: var(--pred-btn-color);
    transform: translate(-50%, -50%) rotate(120deg);
}

#clearButton::before {
    background: var(--clear-btn-color);
    transform: translate(-50%, -50%) rotate(60deg);
}
   
.pred-area-btn:hover::before {
    width: 105%;
}
   
#predictButton:hover {
    color: #fafafa;
}

#clearButton:hover {
    color: #fafafa;
}

.pred-area-btn:hover svg{
    fill: var(--menu-text-color);
    filter: drop-shadow(10px 8px 5px rgba(150, 143, 143, 0.243));
}
   

#archive-welcome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#archive-welcome .archive-img svg{
    width: 100px;
    height: auto;
    fill: var(--pulse-color);
    filter: drop-shadow(15px 10px 5px rgba(104, 74, 74, 0.758));
}




.archive-table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #eae9e9;
    box-shadow: 20px 20px 60px #bebebe6c,
                -20px -20px 60px #b4afaf6d;
}

.archive-table th,
.archive-table td {
    padding: 12px 15px;
    text-align: left;
}

.archive-table tbody tr{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.archive-table th {
    background-color: var(--table-head-bg-color);
    color: #ffffff;
    font-weight: bold;
}

.archive-table tr:nth-child(even) {
    background-color: var(--heart-color);
}

.archive-table tr:hover {
    background-color: var(--pulse-color);
}

.archive-content-container{
    position: relative;
    min-height: 50vh;
}





.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--header-bg-color);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    z-index: 10000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transform: translateY(-50px);
    transition: transform 0.3s ease;
}

.modal-content h2 {
    color: var(--menu-text-color);
}

.modal-content .modal-close {
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-close svg {
    width: 50px;
    height: 50px;
    fill: var(--pulse-color);
    filter: drop-shadow(10px 8px 5px rgba(178, 127, 127, 0.427));
    transition: all 0.3s ease-in-out;
}

.modal-content .modal-close:hover svg {
    fill: #3e4b51;
}









.prediction-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #b7cce86b;
    color: var(--menu-text-color);
}

.prediction-table th,
.prediction-table td {
    padding: 12px 15px;
    text-align: left;
}

.prediction-table tbody tr{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 1px solid var(--border-color);
}







.modal-content ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    color: var(--menu-text-color);
}

.modal-overlay.show {
    opacity: 1;
    visibility: visible;
}

.modal-overlay.show .modal-content {
    transform: translateY(0);
}












/* Following https://codepen.io/ecemgo/pen/YzBZjjb responsive sidebar design */

@media (max-width: 1500px) {
    .app-wrapper {
        grid-template-columns: 6% 94%;
    }

    .nav-text {
        display: none;
    }
}

@media (max-width: 1310px) {
    .app-wrapper {
        grid-template-columns: 8% 92%;
        margin: 30px;
    }
}

@media (max-width: 910px) {
    .app-wrapper {
        grid-template-columns: 10% 90%;
        margin: 20px;
    }
}

@media (max-width: 700px) {
    .app-wrapper {
        grid-template-columns: 15% 85%;
    }
}

/* Tablet and mobile */
@media (max-width: 1310px) {
    #predictionForm {
        grid-template-columns: 1fr;
    }

    .predictionArea{
        grid-column: span 1;
    }

    .pred-btns-area {
        flex-direction: column;
    }
}

/* Mobile */
@media (max-width: 700px) {
    #archive-welcome{
        flex-direction: column;
        flex-direction: column-reverse;
    }
}